*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
html,body{
    overflow:scroll;
    height:100%;
  
}
body{
   font-family:'Segoe UI';
    background-color:#E6E6FF;
    color:#2B5797;
    padding:0;
    margin:0;
    font-family:'Segoe UI';
}
/* preloader start */
.loader_bg{
    position: fixed;
    z-index: 999999;
    background: #fff;
    width: 100%;
    height: 100%;
}
.loader{
    border: 0 soild transparent;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: absolute;
    top: calc(50vh - 75px);
    left: calc(50vw - 75px);
}
.loader:before, .loader:after{
    content: '';
    border: 1em solid #2D89EF;
    border-radius: 50%;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    animation: loader 2.5s linear infinite;
    opacity: 0;
}
.loader:before{
    animation-delay: .5s;
}
@keyframes loader{
    0%{
        transform: scale(0);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        transform: scale(1);
        opacity: 0;
    }
}
/* preloader end  */


.header{
    background-color:#fff;
    width:100%;
    height:60px;
    position:fixed;
    z-index:10;
    display:flex;
    justify-content: end;
}
.second-header{
    margin-top:50px;
    background-color:#2B5797;
    width:100%;
    height:50px;
    position:fixed;
    z-index:10;
}
.icons{
padding-top:15px;
color:#3F3f3f88;


}
.icons span{
   padding-left :40px;
   padding-right: 10px;
   font-size:15px;
}
.logo{
    margin-right:auto;
    margin-left:60px;
    margin-top:16px;
    font-weight:700;
    color:#2b5797;
    
}
.side-icon{
    padding-right:10px;
    color:#3F3f3f88 !important;
    
}
.main{
    height:100%;
    margin-top:60px;
    padding:2% 1% 2% 5%;;
}
#sidebarMenu{
    height:100%;
    position:fixed;
    left:0;
    top:0;
    width:250px;
    margin-top:50px;
    background-color:#fff;
    transform:translateX(-250px);
    transition:transform 300ms ease-in-out;
  
    display:none !important;
}
.menu{
    list-style:none;
    padding-top:30px;
    margin:0;
}
.menu  li{
    color:#2B5797;
    font-size:16px;
 
}
.menu li a{
    color:#2D89EF;    
    display:block;
    text-decoration:none;
    padding-left:45px;
}
.line{
    color:#E4E4E4;
    margin:10px 20px;
}
.info-sidebar{
    color:#3F3F3F;
    display:flex;
    justify-content: space-around;
}
.sidebarIcon{
    width:22px;
    height:22px;
    position:absolute;
    z-index:20;
    top:20px;
    left:20px;
    background-color:#fff;
    cursor:pointer;
    display:none;
}
nav{
    z-index:15;
}
#open:checked ~ #sidebarMenu{
    transform:translate(0px);
    
}
.wrapper{
    height:3px;
    background-color:#2D89EF;
    transition:all 0.5s;
}
.wrapper.second,.wrapper.third{
    margin-top:3px;
}
#open:checked ~ .sidebarIcon > .wrapper.second{
    opacity:0;
}
#open:checked ~ .sidebarIcon > .wrapper.first{
    transform:rotate(315deg);
    margin-top:8px;
}
#open:checked ~ .sidebarIcon > .wrapper.third{
    transform:rotate(-315deg);
    margin-top:-9px;
}

/* dekstop sidebar  */
nav{
    position:absolute;
    padding-top:70px;
    bottom:0;
    height:100%;
    left:0;
    background: #fff;
    width:60px;
    overflow: hidden;   
    transition:width 0.2s linear;
  
    z-index:8;
}
nav ul li a{
    position:relative;
    color:#3f3f3f88;
    font-size:16px;
    display:table;
    width:300px;
    padding:10px;
}
.fac{
    position:relative;
    width:40px;
    height:70px;
    top:16px;
    font-size:18px;
    text-align: center;
    color:#3F3f3f88;
}
.active{
    color:#2B5797;
}
.nav-tem{
position:relative;
top:12px;
margin-left:10px;
}
/* start main  */
.main-line{
 width:9rem;
 color:#2D89EF;
 size: 7px;
 margin-top:10px;
}
.opt{
    font-size:13px;
    color:#3f3f3f88;
}
.ellipsis{
    margin-left:auto;
    font-size:20px;
    color:#3f3F3f88;
}
.accounts{
font-weight:600;
margin-top:10px;

}
.account-slider{
    margin-top:10px;
    max-width:340px;
    height:190px;
    display:none;   
    
}
/* modal start  */

/* modal end  */
.active-account{
    border-bottom:3px solid #2D89EF;
}
.account-card{
    width:100%;
    height:100%;
    background:#fff;
    border-radius:10px;
    color:#2B5797;
}
/* for dekstop  */
.account-container{
    display:flex;
    justify-content: space-evenly;
}
.account-card-dekstop{
max-width:380px;
margin-top:10px;
height:190px;
background: #fff;
border-radius:10px;
text-decoration:none;

}
.account-card-dekstop:hover{
    background:#a4c9f309;
    transition:0.3s ease-in-out;
    cursor:pointer;
   
    
}
.suit-card{
    font-size:21px;
   background:rgba(0, 0, 255, 0.103) ;
   color:#2D89EF ;
    margin:20px;
    padding:10px;
    border-radius:50%;
}
.type{
    background-color:rgba(255, 0, 0, 0.226);
    color:rgba(255, 0, 0, 0.63) ;
    text-decoration: none !important;
    font-weight:700;
    padding:4px;
    border-radius:15px;
    font-size:11px;
    text-transform: uppercase;
    margin-left:30px;
}
a{
    text-decoration:none;
    color:#2B5797;
}
.upper-card{
    display:flex;
    
    padding:18px 20px 0 5px;
}
.inner-upper-card{
  display:flex;
  flex-direction:column;
  
}
.acc-no{
    margin:7px 0 3px 0;
    font-size:14px;
    color:#3f3f3f88;
 
}
.alias{
   
    font-weight:600;
}
.card-line{
    margin:10px; 
    color:#E4E4E4; /*change color of the lines*/
    width:320px;

}
.agency{
    font-size:14px;
    font-weight:600;
    
}
.lower-card{
    display:flex;
    font-size:14px;
    justify-content:space-around;
;    


}
.lower-card-div{
    display:flex;
    flex-direction:column;
}
.bolder-lower-card-div{
    font-weight:500;
}
 /* modal  */
 .options{
    background:white;
    display:flex;
    flex-direction:column;
    padding:10px;
    box-shadow:2px 2px 2px 2px #2d87ef2d;
    border-radius:5px;
    position:absolute;
    bottom:10px;
 
    
 
   
 }

 .option-content{
   padding:5px;
 }
 .option-content .fa{
 margin-right:10px;
 }
.test{
    display:flex;

}/*to make it completely responsive, you have to remove flex of the lower card and remove margin of the suitecase and use padding 20px*/
/* start of graph section  */
.first-graph,.second-graph{
    width:650px;
    background-color:white;
    padding:40px;
    border-radius:10px;
    cursor:pointer;
    margin-left:20px;

}
.graph-container{
    display:flex;
    flex-direction:row;
   margin-left:3%;            
    margin-top:20px;
  
}
/* start fo table filter  */
.table-filter{
    background: #fff;
    max-width:100%;
    display:flex;
    border-radius:10px;
    padding:10px;
    box-shadow:rgba(149,157,165,0.2)0px 8px 24px;


}

.filter-content{
    display:flex;
    flex-direction: column;
    padding:10px;
    margin-left:40px;
}
.filter-content input{
background:#2d87ef25;
outline:none;
border:none;
padding:7px;
border-radius:5px;
max-width:7rem;


}
.table-filter form{
    display:flex;
}
.filter-button{
    padding:2px;
    border:none;
    background: #2D89EF;
    color:#fff;
    height:3rem;
    padding:10px;
    border-radius: 40px;
    width:7rem;
 
    
    
    
}
.filter-result{
    display:flex;
    
    margin-top:20px;

}
.filter-toggle{
    font-size:30px;
 margin-left:20rem;
 
 
    
}

/* end fo table filter  */

 /* start of table section fo the page  */
 .table-container{
    max-width:1700px;
    min-height:300px;
    background:transparent;
    color:#2B5797;
    margin-top:10px;
 }
  .side-line{
    text-decoration: none;
    margin: 20px 50px;
    font-size:20px;
    background-color:#E4E4E4;
    padding:11px;
    color: #2b5797 !important;
    border-radius:60px;


 }


.table{
    width:100%;
    border-collapse:collapse;
    
}
.table td,.table thead{
    padding:9px 4px;
    
 
}
thead{
    border-bottom:1px solid rgba(128, 128, 128, 0.322);

}

.plane{
    font-size:20px;
    color:rgba(255, 0, 0, 0.493);
    margin-left:auto;
    margin-right: 20px;
    margin-top:17px;
}
.trash{
    font-size:20px;
    color:#2B5797;
    margin-left:5px;
    margin-right:20px;
    margin-top:17px;
}
.message-actions{
    display:flex;
    justify-content:space-around;
    margin-top: 10px;
}
.message-actions .fa-trash{
    color:rgba(255, 0, 0, 0.493);
}
.move-box{
cursor:pointer;
text-decoration: underline;
}
.message-box{
    background-color:#E6E6FF;;
    max-width:500px;
    min-height:100px;
    z-index:10;
    position:fixed;
    bottom:0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    display:none;

    


}
.below{
    display:flex;
    flex-direction: row;
    margin-top:20px;

}
.message-input{
    width:275px;
    background-color: #3f3f3f34;
    border:none;
    outline:none;
    height: 30px;
    font-size:20px;
    flex:auto;

    padding-left:50px;
    border-radius:10px;
    color:#2B5797;
 
}
.below i{
    font-size:20px;
    cursor:pointer;

}
.message-trigger{
    
    margin-left:5px;
    background-color:#2b5797;
    color:#fff;
    padding:10px 15px 10px 15px;
    border-radius:50%;
    font-size:20px;
    position:fixed;
    bottom:20px;
    right:20px;
    cursor:pointer;
}
.message-trigger:hover{
    background-color: #E4E4E4;
    transition:0.6s ease-in-out;
}
.below .fa-paper-plane{
 margin-left:10px;
 margin-right:5px;
 /* background-color: #fff; */
 padding:8px 10px 8px 8px;
 border-radius:50%;
}
.message-icon{
    margin-right:5px;
    margin-left:5px;
    /* background-color:#fff; */
    padding:10px 10px 5px 10px;
    border-radius:50%;
    
}
.message{
    max-width:200px;
    border-radius:20px;     min-height:50px;
    background-color: #2D89EF;
    color:#fff;
    padding:5px;
    margin:15px auto 15px 6px;
    font-size:13px;
}
.message-1{
    max-width:200px;
    border-radius:20px;
    min-height:50px;
    background-color: #fff;
    color:#2B5797;
    padding:5px;
    margin:15px 6px 15px auto;  
    font-size:13px; 
}
/* media query for table  */
@media(max-width:700px){
    /* main  */
    .main{
        padding:2% 4% 2% 5%;
    }
    .graph-container{
        display:none;
    }
  
    /* table start  */
    /* .table thead{
        display:none;
    }
    .table,.table tbody,.table tr,.table td{
        display:block;
        width:100%
    }
    .table tr{
        margin-bottom:15px;
    }
    .table td{
        text-align:right;
        padding-left:50%;
        position:relative;
    }
    .table td::before{
        content:attr(data-label);
        position:absolute;
        left:0;
        width:50%;
        padding-left:15px;
        font-size:15px;
        font-weight:bold;
        text-align:left;
    } */
    /* table end  */
   .move{
    display:none;
   }
    .beneficiary{
    position: absolute;
    top:50px;
    }
    /* media queries  */
}
    @media (max-width:910px){
        .table-filter{
            display:flex;
            flex-direction:column;
            min-height:50px;
            
        }
        .table-filter{
            padding:3px;
        }
        .filter-result{
       margin-left:50px; 
        }
       
      
    }
@media (max-width:1250px){
    .account-card-dekstop{
            max-width:250px;
            
    }
  

    nav{
        display:none;
    }
    .sidebarIcon{
        display: block;
    }
    #sidebarMenu{
        display:block;
    }
   
    .main{
        padding:2% 4% 2% 3%;
    }
    
}   

@media(max-width:850px){
    .account-container{
        display:none;
        
    }
    .account-slider{
        display:block;
    }
}
@media(min-width:1850px){
    .table-container{
padding-left:60px;
    }
}
@media(max-width:320px){
    .icons span{
        padding-left :20px;
        padding-right: 10px;
        font-size:15px;
     }
}
