*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
html,body{
    overflow:scroll;
    height:100%;
  
  
}
body{
   font-family:'Segoe UI';
    background-color:#E6E6FF;
    color:#2B5797;
    padding:0;
    margin:0;
    font-family:'Segoe UI';
}
.header{
    background-color:#fff;
    width:100%;
    height:60px;
    position:fixed;
    z-index:10;
    display:flex;
    justify-content: end;
}
.second-header{
    margin-top:50px;
    background-color:#2B5797;
    width:100%;
    height:50px;
    position:fixed;
    z-index:10;
}
.icons{
padding-top:15px;
color:#3f3f3f88;

}
.icons span{
   padding-left :40px;
   padding-right: 10px;
   font-size:15px;
}
.logo{
    margin-right:auto;
    margin-left:60px;
    margin-top:16px;
    font-weight:700;
    color:#2b5797;
    
}
.side-icon{
    padding-right:10px;
    
}
.main{
    height:100%;
    margin-top:60px;
    padding:1% 1% 2% 5%;;
}
#sidebarMenu{
    height:100%;
    position:fixed;
    left:0;
    top:0;
    width:250px;
    margin-top:50px;
    background-color:#fff;
    transform:translateX(-250px);
    transition:transform 300ms ease-in-out;
    z-index:20;
}
.menu{
    list-style:none;
    padding-top:30px;
    margin:0;
}
.menu  li{
    color:#2B5797;
    font-size:16px;
 
}
.menu li a{
    color:#3f3f3f88;    
    display:block;
    text-decoration:none;
    padding-left:45px;
}
.line{
    color:#E4E4E4;
    margin:10px 20px;
}
.info-sidebar{
    color:#3F3F3F;
    display:flex;
    justify-content: space-around;
}
.sidebarIcon{
    width:22px;
    height:22px;
    position:absolute;
    z-index:20;
    top:20px;
    left:20px;
    background-color:#fff;
    cursor:pointer;
    display:none;
}
#open:checked ~ #sidebarMenu{
    transform:translate(0px);
    
}
.wrapper{
    height:3px;
    background-color:#2D89EF;
    transition:all 0.5s;
}
.wrapper.second,.wrapper.third{
    margin-top:3px;
}
#open:checked ~ .sidebarIcon > .wrapper.second{
    opacity:0;
}
#open:checked ~ .sidebarIcon > .wrapper.first{
    transform:rotate(315deg);
    margin-top:8px;
}
#open:checked ~ .sidebarIcon > .wrapper.third{
    transform:rotate(-315deg);
    margin-top:-9px;
}

/* dekstop sidebar  */
nav{
    position:absolute;
    padding-top:70px;
    bottom:0;
    height:100%;
    left:0;
    background: #fff;
    width:60px;
    overflow: hidden;   
    transition:width 0.2s linear;
  
    z-index:8;
}
a{
    position:relative;
    color:#3f3f3f88;
    font-size:16px;
    display:table;
    width:300px;
    padding:10px;
}
.fac{
    position:relative;
    width:40px;
    height:70px;
    top:16px;
    font-size:18px;
    text-align: center;
}
.nav-tem{
position:relative;
top:12px;
margin-left:10px;
}
/* start main  */
.main-line{
 width:9rem;
 color:#2D89EF;
 size: 7px;
 margin-top:10px;


}
.opt{
    font-size:13px;
    color:#3f3f3f88;
}
.accounts{
font-weight:600;
margin-top:0px;


}
.account-slider{
    margin-top:10px;
    max-width:340px;
    height:190px;
    display:none;   
    
    
}
.account-card{
    width:100%;
    height:100%;
    background:#fff;
    border-radius:10px;
    color:#2B5797;

}
/* for dekstop  */
.account-container{
    display:flex;
    justify-content: space-evenly;
    
    
}
.card-cover:hover{
    cursor:pointer;
}
.account-card-dekstop:hover{
    cursor:pointer;
}
/* custom design for card  */
.card-cover{
    background: url("../Images/10136775_17973908.jpg") center no-repeat;
    background-size: cover;
    border-radius: 10px;
  
}
.card-cover-1{
    background: url("../Images/grunge-paint-background.jpg") center no-repeat;
    background-size: cover;
    border-radius: 10px;
  
}
.card-cover-2{
    background: url("../Images/6166980_17545.jpg") center no-repeat;
    background-size: cover;
    border-radius: 10px;
  
}
.card-title{
    padding:10px;
    font-weight: 600;
}
.card-image{
    padding: 20px;
}
.card-number{
    font-size:23px;
    letter-spacing:5px;
    margin-top:20px;
    font-weight: 850px;
    
   
   
}
.card-dates{
    display:flex;
    flex-direction:row;
    padding:15px;
    font-weight:bold;

}
.card-dates-left{
    padding-left:25px;
}
.credit-card-bottom{
display:flex;
justify-content: space-between;
margin-left:13px;
margin-right:10px;
font-weight:bold;

}

.account-card-dekstop{
max-width:360px;
margin-top:10px;
height:190px;
background: #fff;
border-radius:10px;
}
.suit-card{
    font-size:21px;
   background:rgba(0, 0, 255, 0.103) ;
   color:#2B5797;
    margin:20px;
    padding:10px;
    border-radius:50%;
}
.type{
    background-color:rgba(255, 0, 0, 0.226);
    color:rgba(255, 0, 0, 0.63);
    font-weight:700;
    padding:4px;
    border-radius:15px;
    font-size:11px;
    text-transform: uppercase;
    margin-left:30px;
}
.upper-card{
    display:flex;
    
    padding:18px 20px 0 5px;
}
.inner-upper-card{
  display:flex;
  flex-direction:column;
  
}
.acc-no{
    margin:7px 0 3px 0;
    font-size:14px;
    color:#3f3f3f88;
 
}
.alias{
   
    font-weight:600;
}
.card-line{
    margin:10px; 
    color:#E4E4E4; /*change color of the lines*/

}
.agency{
    font-size:14px;
    font-weight:600;
    
}
.lower-card{
    display:flex;
    font-size:14px;
    justify-content:space-around;
;    


}
.lower-card-div{
    display:flex;
    flex-direction:column;
}
.bolder-lower-card-div{
    font-weight:500;
}
.test{
    display:flex;

}/*to make it completely responsive, you have to remove flex of the lower card and remove margin of the suitecase and use padding 20px*/
/* start of graph section  */
.graph{
    width:700px !important;
    background-color:#fff;
}
/* card sections  */
.card-container{
    margin-top:20px;
display:flex;
justify-content: space-evenly;


padding:20px;
}
.card-info{
    max-width:400px;
    margin-left:30px;
    margin-right:30px;
    min-height: 250px;
    background-color:#fff;
    border-radius:10px;
    padding:10px;
}
.card-advert{
    max-width:800px;
    margin-left:20px;
    min-height:250px;
    background: url('../Images/13295064_5172658.jpg') center no-repeat;
    background-size: cover;
    border-radius:10px;

    
}
.inside-ad{
    font-size:40px;
    font-weight: 700;
    color:#fff;
    text-align:center;
}
.card-header{
    text-align:center;
    font-weight: 600;
 
 
}
.card-information{
    display:flex;
    flex-direction:column;
    margin:10px 20px 10px 40px;
    font-weight: 650;
    
}
.bold-info{
    font-weight: 550;
}
.bold-info-green{
    color:rgb(25, 168, 25);
    background-color: rgba(25, 168, 25, 0.288);
    padding:1px 3px 2px 3px;
    border-radius: 10px;
}

.card-information span{
  margin: 7px;
}
.card-line-card{
    height:2px;
    background-color: #2B5797;
    width:80%;
}
.message-trigger{
    
    margin-left:5px;
    background-color:#2D89EF;
    color:#fff;
    font-weight: 780;
    /* box-shadow: 2px 2px 2px  rgba(0, 0, 0, 0.479); */
    padding:10px 15px 10px 15px;
    border-radius:50%;
    font-size:20px;
    position:fixed;
    bottom:20px;
    right:20px;
    cursor:pointer;
}
 /* start of table section fo the page  */
 .table-container{
    max-width:1700px;
    min-height:300px;
    background:transparent;
    color:#2B5797;
    margin-top:10px;
 }
 .table-filter{
    width:100%;
    min-height:80px;
    background:white;
    display:flex;
    flex-direction: column;
    border-radius: 12px;
 }
 .search-box{
    background-color: #E6E6FF;
    border:none;
    outline:none;
    max-width:200px;
    border-radius: 4px;
    text-indent: 7px;
    padding:3px;
 }
 
 .filterbox{
    display:flex;
    flex-direction:column;
    margin:7px;
 }
 .filterbox i{
    padding:6px;
 }
 .filterbox span{
    font-size: 13px;
 }
 .filter-line{
    display:flex;
   
    
 }
 .side-line{
    text-decoration: none;
    margin: 20px 50px;
    font-size:20px;
    background-color:#E4E4E4;
    padding:11px;
    color: #2b5797 !important;
    border-radius:60px;


 }
 .search-box-date{
    background-color: #E6E6FF;
    border:none;
    outline:none;
    width:100px;
    border-radius: 4px;
    height: 23px;
    color:#2B5797;
    padding:1px;
    margin-top:32px;
    margin-left:5px;
    text-indent: 7px;
   
 }
 .search-box-date1{
    background-color: #E6E6FF;
    border:none;
    outline:none;
    width:100px;
    border-radius: 4px;
    height: 24px;
    color:#2B5797;
  
    
   
 }
 #search{
    cursor:pointer;
 }
 #search:hover{
    background-color:#e6e6ff8f;
    transition:0.3s;
 }
.filter-line label{
 font-size: 15px;
}
.search-button{
    text-align:center;
}

.search{
    color:#fff;
    background-color:rgba(34, 155, 34, 0.637);
    border-radius:10px;
    padding:5px;
    border:none;
    margin:8px 0;
    cursor:pointer;
}
.search:hover{
    background-color:rgba(34, 155, 34, 0.493);
}
.search i{
    padding-right:5px;
}
.cancel{
    color:#fff;
    background-color:rgba(209, 49, 49, 0.664);
    border-radius:10px;
    padding:5px;
    border:none;
    margin:8px 0;
    cursor:pointer;
}
.cancel:hover{
    background-color:rgba(209, 49, 49, 0.363);   
}
.cancel i{
    padding-right:5px;
}
/* hide section of filter section  */

.offcanvas{
    display:none;
}
.account-table{
    background-color:#fff;
    margin-top:10px;
    width:100%;
    height:400px;
}
.table{
    width:100%;
    border-collapse:collapse;
}
.table td,.table th{
    padding:12px 10px;
    text-align:center;
 
}
.modal{
    position:absolute;
    width:350px;
    height:220px;
    background-color:#fff;
    /* box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.363); */
    border-radius:20px;
    top:40%;
    left:7%;
    transform: translateX(-500px);
    transition: all 1s;
}
.shift{
    transform: translateX(500px);
    transition: all 1s;
}

/* media query for table  */
@media(max-width:700px){
    /* main  */
    .main{
        padding:2% 4% 2% 5%;
    }
   .move{
    display: none;
   }
   
    .beneficiary{
    position: absolute;
    top:50px;
    }
    /* media queries  */
}
@media (max-width:1250px){
    .account-card-dekstop{
            max-width:250px;
            
    }
  

    nav{
        display:none;
    }
    .sidebarIcon{
        display: block;
    }
    .main{
        padding:2% 4% 2% 3%;
    }
    
}   

@media(max-width:850px){
    .account-container{
        display:none;
        
    }
    .account-slider{
        display:block;
    }
}
@media(min-width:1850px){
    .table-container{
padding-left:60px;
    }
}
@media(max-width:320px){
    .icons span{
        padding-left :20px;
        padding-right: 10px;
        font-size:15px;
     }
}
