*{
    font-family: 'Segoe UI';
}
h3{
    padding:20px;
    color:#2D89EF;
    font-weight:700px;
    font-size:35px;
    text-align: center;
}
.main{
    padding:20px;
    color:#3f3f3fde;
    margin: 0 20%;
 
}
.top-stat{
    float:right;
    font-weight:600;
    font-size:20px;
    color:rgba(0, 0, 0, 0.692);
    
}
.account-details{
margin-top:60px;
}
.client-info{
    margin-top:60px;
    
}
.top-head{
    font-weight:600;
    font-size:20px;
    color:rgba(0, 0, 0, 0.692);
    margin-top:40px;

}
.table{
    width:100%;
}
.table td,.table th{
    padding:12px 10px;
    text-align:center;
 
}