*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
html,body{
    overflow:scroll;
    height:100%;
  
}
body{
   font-family:'Segoe UI';
    background-color:#E6E6FF;
    color:#2B5797;
    padding:0;
    margin:0;
    font-family:'Segoe UI';
}
/* preloader start */
.loader_bg{
    position: fixed;
    z-index: 999999;
    background: #fff;
    width: 100%;
    height: 100%;
}
.loader{
    border: 0 soild transparent;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: absolute;
    top: calc(50vh - 75px);
    left: calc(50vw - 75px);
}
.loader:before, .loader:after{
    content: '';
    border: 1em solid #2D89EF;
    border-radius: 50%;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    animation: loader 2.5s linear infinite;
    opacity: 0;
}
.loader:before{
    animation-delay: .5s;
}
@keyframes loader{
    0%{
        transform: scale(0);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        transform: scale(1);
        opacity: 0;
    }
}
/* preloader end  */

.header{
    background-color:#fff;
    width:100%;
    height:60px;
    position:fixed;
    z-index:10;
    display:flex;
    justify-content: end;
}
.second-header{
    margin-top:50px;
    background-color:#2B5797;
    width:100%;
    height:50px;
    position:fixed;
    z-index:10;
}
.icons{
padding-top:15px;
color:#3f3f3f88;

}
.icons span{
   padding-left :40px;
   padding-right: 10px;
   font-size:15px;
}
.logo{
    margin-right:auto;
    margin-left:60px;
    margin-top:16px;
    font-weight:700;
    color:#2b5797;
    
}
.side-icon{
    padding-right:10px;
    
}
.main{
    height:100%;
    margin-top:60px;
    padding:2% 1% 2% 5%;;
}
#sidebarMenu{
    height:100%;
    position:fixed;
    left:0;
    top:0;
    width:250px;
    margin-top:50px;
    background-color:#fff;
    transform:translateX(-250px);
    transition:transform 300ms ease-in-out;
    z-index:20;
}
.menu{
    list-style:none;
    padding-top:30px;
    margin:0;
}
.menu  li{
    color:#2B5797;
    font-size:16px;
 
}
.menu li a{
    color:#3f3f3f88;    
    display:block;
    text-decoration:none;
    padding-left:45px;
}
.line{
    color:#E4E4E4;
    margin:10px 20px;
}
.info-sidebar{
    color:#3F3F3F;
    display:flex;
    justify-content: space-around;
}
.sidebarIcon{
    width:22px;
    height:22px;
    position:absolute;
    z-index:20;
    top:20px;
    left:20px;
    background-color:#fff;
    cursor:pointer;
    display:none;
}
#open:checked ~ #sidebarMenu{
    transform:translate(0px);
    
}
.wrapper{
    height:3px;
    background-color:#2D89EF;
    transition:all 0.5s;
}
.wrapper.second,.wrapper.third{
    margin-top:3px;
}
#open:checked ~ .sidebarIcon > .wrapper.second{
    opacity:0;
}
#open:checked ~ .sidebarIcon > .wrapper.first{
    transform:rotate(315deg);
    margin-top:8px;
}
#open:checked ~ .sidebarIcon > .wrapper.third{
    transform:rotate(-315deg);
    margin-top:-9px;
}

/* dekstop sidebar  */
nav{
    position:absolute;
    padding-top:70px;
    bottom:0;
    height:100%;
    left:0;
    background: #fff;
    width:60px;
    overflow: hidden;   
    transition:width 0.2s linear;
  
    z-index:8;
}
nav ul li a{
    position:relative;
    color:#3f3f3f88;
    font-size:16px;
    display:table;
    width:300px;
    padding:10px;
}
.fac{
    position:relative;
    width:40px;
    height:70px;
    top:16px;
    font-size:18px;
    text-align: center;
}
.nav-tem{
position:relative;
top:12px;
margin-left:10px;
}
/* start main  */
.main-line{
 width:9rem;
 color:#2D89EF;
 size: 7px;
 margin-top:10px;
}
.opt{
    font-size:13px;
    color:#3f3f3f88;
}
.accounts{
font-weight:600;
margin-top:10px;

}
.account-slider{
    margin-top:10px;
    max-width:340px;
    height:190px;
    display:none;   
    
}
.account-card{
    width:100%;
    height:100%;
    background:#fff;
    border-radius:10px;
    color:#2B5797;
}
/* for dekstop  */
.account-container{
    display:flex;
    justify-content: space-evenly;
}
.account-card-dekstop{
max-width:340px;
margin-top:10px;
height:190px;
background: #fff;
border-radius:10px;
}
.suit-card{
    font-size:21px;
   background:rgba(0, 0, 255, 0.103) ;
   color:#2B5797;
    margin:20px;
    padding:10px;
    border-radius:50%;
}
.type{
    background-color:rgba(255, 0, 0, 0.226);
    color:rgba(255, 0, 0, 0.63);
    font-weight:700;
    padding:4px;
    border-radius:15px;
    font-size:11px;
    text-transform: uppercase;
    margin-left:30px;
}
.upper-card{
    display:flex;
    
    padding:18px 20px 0 5px;
}
.inner-upper-card{
  display:flex;
  flex-direction:column;
  
}
.acc-no{
    margin:7px 0 3px 0;
    font-size:14px;
    color:#3f3f3f88;
 
}
.alias{
   
    font-weight:600;
}
.card-line{
    margin:10px; 
    color:#E4E4E4; /*change color of the lines*/

}
.agency{
    font-size:14px;
    font-weight:600;
    
}
.lower-card{
    display:flex;
    font-size:14px;
    justify-content:space-around;
;    


}
.lower-card-div{
    display:flex;
    flex-direction:column;
}
.bolder-lower-card-div{
    font-weight:500;
}
.test{
    display:flex;

}/*to make it completely responsive, you have to remove flex of the lower card and remove margin of the suitecase and use padding 20px*/
/* start of graph section  */
.graph{
    width:200px !important;
    background-color:#fff;
}

 /* start of table section fo the page  */
 .table-container{
    max-width:1700px;
    min-height:300px;
    background:transparent;
    color:#2B5797;
    margin-top:10px;
 }
 .table-filter{
    width:100%;
    min-height:80px;
    background:white;
    display:flex;
    flex-direction: column;
    border-radius: 12px;
 }
 .search-box{
    background-color: #E6E6FF;
    border:none;
    outline:none;
    max-width:200px;
    border-radius: 4px;
    text-indent: 7px;
    padding:3px;
 }
 
 .filterbox{
    display:flex;
    flex-direction:column;
    margin:7px;
 }
 .filterbox i{
    padding:6px;
 }
 .filterbox span{
    font-size: 13px;
 }
 .filter-line{
    display:flex;
   
    
 }
 .side-line{
    text-decoration: none;
    margin: 20px 50px;
    font-size:20px;
    background-color:#E4E4E4;
    padding:11px;
    color: #2b5797 !important;
    border-radius:60px;


 }
 .search-box-date{
    background-color: #E6E6FF;
    border:none;
    outline:none;
    width:100px;
    border-radius: 4px;
    height: 23px;
    color:#2B5797;
    padding:1px;
    margin-top:32px;
    margin-left:5px;
    text-indent: 7px;
   
 }
 .search-box-date1{
    background-color: #E6E6FF;
    border:none;
    outline:none;
    width:100px;
    border-radius: 4px;
    height: 24px;
    color:#2B5797;
  
    
   
 }
 #search{
    cursor:pointer;
 }
 #search:hover{
    background-color:#e6e6ff8f;
    transition:0.3s;
 }
.filter-line label{
 font-size: 15px;
}
.search-button{
    text-align:center;
}

.search{
    color:#fff;
    background-color:rgba(34, 155, 34, 0.637);
    border-radius:10px;
    padding:5px;
    border:none;
    margin:8px 0;
    cursor:pointer;
}
.search:hover{
    background-color:rgba(34, 155, 34, 0.493);
}
.search i{
    padding-right:5px;
}
.cancel{
    color:#fff;
    background-color:rgba(209, 49, 49, 0.664);
    border-radius:10px;
    padding:5px;
    border:none;
    margin:8px 0;
    cursor:pointer;
}
.cancel:hover{
    background-color:rgba(209, 49, 49, 0.363);   
}
.cancel i{
    padding-right:5px;
}
/* hide section of filter section  */

.offcanvas{
    display:none;
}

/* .table{
    width:100%;
    border-collapse:collapse;
} */

/* loans section  */
/* .loan-container{
    
} */
.loan-box{
    background-color:#fff;
    max-width:700px;
    /* min-height:80px;  */
    padding:20px;
   
    border-radius:10px;
    margin-top:10px;
    box-shadow:rgba(149,157,165,0.2)0px 8px 24px;

}
.loan-box i{
    padding:10px 10px;
}
.loans{
    width:60%;
    display:flex;
    flex-direction:column;
}
.loan-arrow{
    float:right;
    display:none;
}
.loan-actions{
    display:flex;
    flex-direction: row;
    justify-content: end;
    
 
}
.loan-button{
    border:none;
    outline:none;
    padding:15px;
    background-color: #2D89EF;
    border-radius: 9px;
    color:#fff;
    font-weight:650;
    margin:10px;
    cursor:pointer;
   
}
.loan-content{
    display:flex;
    flex-wrap: wrap;
    justify-content:space-evenly;

}

.title{
    font-weight: 600;
    font-size:15px;
    
    
}
.title-green{
    color:rgb(26, 148, 26);
    font-weight: 600;
    font-size:15px;
}
.title-red{
    color:rgb(143, 25, 25);
    font-weight: 600;
    font-size:15px;
}
.loan-desc{
    display:flex;
    flex-direction: column;
    margin:10px;
}
#pending{
    background-color: rgba(255, 255, 255, 0.164);
    color:#3f3f3f6b;
}
.filter{
    margin-top: 15px;
    display: flex;
    justify-content: center;
}
.x-cancel{

    font-size:15px;
    cursor: pointer;
    padding:3px;
    color: rgba(255, 0, 0, 0.678);
    border-radius:50%;

}
/* modal strt  */
:root {
    --modal-duration: 1s;
    --modal-color: #2B5797;
  }
  
  .cont {
    font-family: Arial, Helvetica, sans-serif;
    background: #f4f4f4;
    font-size: 17px;
    line-height: 1.6;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
  }
  
  .button {
    background: #428bca;
    padding: 1em 2em;
    color: #fff;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .button:hover {
    background: #3876ac;
  }
  
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    margin: 10% auto;
    width: 50%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
    animation-name: modalopen;
    animation-duration: var(--modal-duration);
  }
  
  .modal-header h2,
  .modal-footer h3 {
    margin: 0;
  }
  
  .modal-header {
    background: var(--modal-color);
    padding: 15px;
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .modal-body {
    padding: 10px 20px;
    background: #fff;
  }
  
  .modal-footer {
    background:#fff;
    padding: 10px;
    color: #fff;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  
  .close {
    color: #ccc;
    float: right;
    font-size: 30px;
    color: #fff;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  @keyframes modalopen {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
/* media query for table  */
@media(max-width:775px){
    /* main  */
    .main{
        padding:2% 4% 2% 5%;
    }
    .loan-arrow{
        display:block;
    }
   
    .move{
        display:none;
    }
    .loan-container{
        flex-direction:column;
    }
    .loan-actions{
        margin-top:30px;
        margin-right:0;
    }
    /* table start  */
 
    /* table end  */
   
    .beneficiary{
    position: absolute;
    top:50px;
    }
    /* media queries  */
}
@media (max-width:1250px){
    .account-card-dekstop{
            max-width:250px;
            
    }
  
    
    nav{
        display:none;
    }
    .sidebarIcon{
        display: block;
    }
    .main{
        padding:2% 4% 2% 3%;
    }
    
}   

@media(max-width:850px){
    .account-container{
        display:none;
        
    }
    .account-slider{
        display:block;
    }
}
@media(min-width:1850px){
    .table-container{
padding-left:60px;
    }
}
@media(max-width:320px){
    .icons span{
        padding-left :20px;
        padding-right: 10px;
        font-size:15px;
     }
}
